* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.head-categ ul {
  list-style-type: none;
}

.product {
  border: 1px darkgray solid;
  margin: 4px;
  padding: 8px;
  
}

.product h4 {
  font-weight: bold;
  font-size: 1.4rem;
}

.product img {
  width: 160px;
  height: 160px;
}

.product price {
  font-weight: bold;
  font-size: 1.6rem;
}

.footer {
  margin: 12px;
  padding: 6px;
}


.footer ul {
  list-style-type: none;
  
}

.menu-btn {
  cursor: pointer;
}

.menu-list {
  display: none;
}

.visible {
  display: block;
  animation: expand 500ms ease-in-out;
  transform-origin: top left;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.mobile-menu-btn {
  width: 30px;
}

.home {
  margin: 4px;
  padding: 4px;
}

.header ul {
  margin: 4px;
}

a {
 color: rgb(74, 74, 167);
 text-decoration: none;
}

a:hover {
  color: rgb(55, 124, 91);
}

a:active {
  color: rgb(124, 55, 93);
}

.root {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  margin: 4px;
  text-transform: capitalize;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.product {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "name name"
                       "left right"
}

.product .title {
  grid-area: name;
  margin-bottom: 4px;
}

.product .left {
  grid-area: left;
}

.product .right {
  grid-area: right;
}

.add-to-cart {
  background-color: rgb(74, 74, 167);
  padding: 8px 12px;
  font-weight: bold;
  color: white;
  margin: 6px 0px;
  display: block;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: rgb(55, 124, 91);
  color: white;
}

.add-to-cart:active {
  background-color: rgb(124, 55, 93);
  color: white;
}